# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Flappy-Birb.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\nordic forest\Flappy-Birb\.idea\.idea.Flappy-Birb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
